<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Paw Finder - Animals List</title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

  <style>
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Paw Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/animals/showAll}">Animals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lost and Found</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Veterinary Clinics</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="user.jpg" alt="User Photo" class="header-img">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Edit Profile</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container my-2">
  <h1 class="text-center text-primary mb-4">Animals List</h1>

  <a th:href="@{/animals/add}" class="btn btn-success mb-3">Add Animal</a>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Shelter ID</th>
      <th>Name</th>
      <th>Species</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Size Category</th>
      <th>Characteristics</th>
      <th>Is Adopted</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal : ${animals}">
      <td th:text="${animal.animalID}"></td>
      <td>
        <span th:if="${animal.shelter != null}" th:text="${animal.shelter.shelterID}"></span>
      </td>
      <td th:text="${animal.animalName}"></td>
      <td th:text="${animal.animalSpecies}"></td>
      <td th:text="${animal.gender}"></td>
      <td th:text="${animal.animalAge}"></td>
<!--       <td th:text="${animal.getSizeCategory().getName()}"></td>-->
      <td th:text="${animal.animalCharacteristics}"></td>
      <td th:text="${animal.adopted}"></td>
      <td>
        <a th:href="@{/animals/{id}/edit(id=${animal.animalID})}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination elements -->

</div>
</body>
</html>
